<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</head>
<body>
<div>
<header th:replace="layout/layout :: header">
</header>
</div>

		
				  <form class="col-12"  th:action="@{/usuarioModificado}" th:object="${usuario}"
						method="post">
							<div class="col-md-4">
                    <div class="form-group" id="user-group">
                    <input  id="pass" name="id" hidden type="text" class="form-control" th:value="${id}"/>
                    </div>
              	<label>Nombre</label>
              	
                    <div class="form-group" id="user-group">
                        <input type="text" class="form-control" th:field="*{nombre}" />
                    </div>
                     <label>Apellido</label>
                    <div class="form-group" id="user-group">
                        <input type="text" class="form-control" placeholder="Apellido" name="apellido" th:field="*{apellido}"
								oninvalid="InvalidMsg(this)" required/>
                    </div>
                     <label>Cedula</label>
                     <div class="form-group" id="user-group">
                        <input type="text" class="form-control" placeholder="Cedula" name="cedula" th:field="*{cedula}"
								oninvalid="InvalidMsg(this)" required/>
                    </div>
                     <label>Email</label>
                     <div class="form-group" id="user-group">
                        <input type="text" class="form-control" placeholder="Email" name="mail" th:field="*{mail}"
								 oninvalid="InvalidEmail(textbox)"  required/>
                    </div>
                     <label>UserName</label>
                     <div class="form-group" id="user-group">
                        <input type="text" class="form-control" placeholder="User" name="username" th:field="*{userName}" oninvalid="InvalidMsg(this)"
								required/>
                    </div>
                     <label>ROL</label>
                   
                   
                    <div class="form-group" >
                   <select th:field="*{rol}">
    <option th:value="'ROLE_USER'" th:text="ROLE_USER"></option>
    <option th:value="'ROLE_ADMIN'" th:text="ROLE_ADMIN"></option>
</select>
                   
                    </div>
                      </div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Guardar </button>
                    
                </form>
                
		
		
	
 
</body>
</html>