<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/app :: head"></head>

<body>

<nav th:replace="layout/app :: navbar" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>

<div class="container py-5">
    <div class="card mx-auto mb-5 w-50">
        <div class="card-header">
            Modificar datos personales
        </div>
        <div class="card-body">
            <form role="form" id="formularioCambiarDatos" th:action="@{/modificarDatosPersonales}"
                  th:object="${usuario}" method="post">
                <input type="hidden" name="usuario"
                       class="form-control"
                       th:field="*{userName}">

                <input name="id" type="hidden" class="form-control" th:value="${id}"/>

                <div class="row">
                    <div class="form-group col-6">
                        <input type="text" name="nombre" id="nombre1"
                               class="form-control" placeholder="Nombre" th:field="*{nombre}" required>

                    </div>

                    <div class="form-group col-6">
                        <input type="text" name="apellido" id="apellido1"
                               class="form-control" placeholder="Ingrese su apellido" required
                               th:field="*{apellido}">
                    </div>
                </div>

                <div class="form-group mb-3">
                    <input type="number" name="documento" id="documento"
                           class="form-control" placeholder="Ingrese su cédula" min="1000000" max="99999999" required
                           th:field="*{cedula}">
                </div>


                <div class="form-group mb-3">
                    <input type="text" name="email" id="email"
                           class="form-control" placeholder="Ingrese su email" required
                           th:field="*{mail}">
                </div>

                <div class="form-group mb-3">
                    <input type="text" readonly="readonly" name="usuario"
                           class="form-control"
                           th:field="*{userName}" disabled>
                </div>
            </form>
        </div>


        <div class="card-footer p-2">
            <div class="row">
                <div class="col p-1 text-center">
                    <button type="submit" form="formularioCambiarDatos" class="btn btn-dark">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="card mx-auto w-50">
        <div class="card-header">
            Modificar contraseña
        </div>
        <div class="card-body">
            <form role="form" id="formularioCambiarDatos2" th:action="@{/modificarPasswordAdmin}"
                  th:object="${usuario}" method="post">
                <input type="hidden" name="usuario"
                       class="form-control"
                       th:field="*{userName}">

                <input name="id" type="hidden" class="form-control" th:value="${id}"/>

                <div class="form-group mb-3">
                    <input type="password"
                           class="form-control" placeholder="Ingrese su contraseña"
                           name="contrasena" th:value="${contrasena}" required>
                </div>

                <div class="row mb-3">
                    <div class="form-group col-6">
                        <input type="password"
                               id="password"
                               class="form-control" placeholder="Ingrese su nueva contraseña"
                               name="nuevaContrasena" minlength="8" th:value="${nuevaContrasena}"
                               required
                        >
                    </div>

                    <div class="form-group col-6">
                        <input type="password"
                               id="password_confirmation"
                               class="form-control" placeholder="Confirme su contraseña"
                               name="confirmacionContrasena" minlength="8" th:value="${confirmacionContrasena}"
                               required
                        >
                    </div>
                </div>
            </form>
        </div>

        <div class="card-footer p-2">
            <div class="row">
                <div class="col p-1 text-center">
                    <button type="submit" form="formularioCambiarDatos2" class="btn btn-dark">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="layout/app :: scripts"></div>

<script>
    document.querySelector('#formularioCambiarDatos2').addEventListener('submit', e => {
        e.preventDefault();

        if (document.querySelector('#password').value !== document.querySelector('#password_confirmation').value) {
            return alert("La nueva contraseña no coincide con la confirmación")
        }
        document.querySelector('#formularioCambiarDatos2').submit()
    });
</script>

</body>

</html>