<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/app :: head"></head>

<body>

<nav th:replace="layout/app :: navbar" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>

<div class="container">
    <div class="card w-50 mx-auto" style="margin-top: 50px">
        <div class="card-header">
            Modificar rol de <span th:text="${usuario.get().nombre}"></span>
        </div>
        <div class="card-body">

            <form id="formularioRol" role="form" th:action="@{/usuarioModificado}" th:object="${usuario}" method="post">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group" id="user-group">
                            <input id="pass" name="id" hidden type="text" class="form-control"
                                   th:value="${id}"/>
                        </div>

                        <div class="form-group">
                            <input type="text" name="nombre" id="nombre1"
                                   class="form-control input-sm floatlabel" hidden placeholder="Nombre"
                                   th:field="*{nombre}">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="apellido" id="apellido1"
                                   class="form-control input-sm floatlabel" hidden placeholder="Apellido"
                                   th:field="*{apellido}">
                        </div>
                    </div>

                    <div class="form-group col-xs-12">
                        <input type="text" name="direccion" id="direccion"
                               class="form-control input-sm floatlabel" hidden placeholder="Dirección">
                    </div>
                    <div class="form-group col-xs-12">
                        <input type="text" name="telefono" id="telefono"
                               class="form-control input-sm floatlabel" hidden placeholder="Teléfono">
                    </div>
                    <div class="form-group col-xs-12">
                        <input type="text" name="documento" id="documento"
                               class="form-control input-sm floatlabel" hidden
                               placeholder="Documento de Identidad" th:field="*{cedula}">
                    </div>
                    <div class="form-group col-xs-12">
                        <input type="text" name="email" id="email"
                               class="form-control input-sm floatlabel" hidden placeholder="Correo Electrónico"
                               th:field="*{mail}">
                    </div>
                    <div class="form-group col-xs-12">
                        <input type="text" name="usuario" id="usuario"
                               class="form-control input-sm floatlabel" hidden placeholder="Nombre de Usuario"
                               th:field="*{userName}">
                    </div>


                    <div class="form-group">
                        <select th:field="*{rol}">
                            <option th:value="'ROLE_USER'" th:text="ROLE_USER"></option>
                            <option th:value="'ROLE_ADMIN'" th:text="ROLE_ADMIN"></option>
                        </select>

                    </div>

                </div>
            </form>

        </div>
        <div class="card-footer">
            <input type="submit" value="Guardar" class="btn btn-success" form="formularioRol">
        </div>
    </div>
</div>

<div th:replace="layout/app :: scripts"></div>

</body>

</html>