<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/app :: head"></head>

<body>

<nav th:replace="layout/app :: navbar" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>

<div class="container">
    <div class="card w-50 mx-auto" style="margin-top: 50px">
        <div th:if="${rol != '[ROLE_ADMIN]'}" class="card-header">
            Modificar rol de <span th:text="${usuario.get().nombre}"></span>
        </div>

        <div class="card-body">

            <form id="formularioRol" role="form" th:action="@{/usuarioModificado}" th:object="${usuario}" method="post">
                <div class="row mb-3">
                    <div class="form-group col-6">
                        <div class="form-group" id="user-group">
                            <input id="pass" name="id" hidden type="text" class="form-control"
                                   th:value="${id}"/>
                        </div>

                        <!--                         <h1 th:text="${rol}"> </h1> -->

                        <div th:if="${username eq autoridad}" class="form-group">
                            <input type="text" name="nombre" id="nombre1"
                                   class="form-control input-sm floatlabel" placeholder="Nombre"
                                   th:field="*{nombre}">
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <div th:if="${username eq autoridad}" class="form-group">
                            <input type="text" name="apellido" id="apellido1"
                                   class="form-control input-sm floatlabel" placeholder="Apellido"
                                   th:field="*{apellido}">
                        </div>
                    </div>

                    <div th:if="${username eq autoridad}" class="form-group mb-3">
                        <input type="text" name="documento" id="documento"
                               class="form-control input-sm floatlabel"
                               placeholder="Documento de Identidad" th:field="*{cedula}">
                    </div>
                    <div th:if="${username eq autoridad}" class="form-group mb-3">
                        <input type="text" name="email" id="email"
                               class="form-control input-sm floatlabel" placeholder="Correo Electrónico"
                               th:field="*{mail}">
                    </div>
                    <div class="form-group col-6">
                        <input type="text" readonly="readonly" name="usuario" id="usuario"
                               class="form-control input-sm floatlabel" hidden placeholder="Nombre de Usuario"
                               th:field="*{userName}">
                    </div>

                    <div th:if="${username eq autoridad}" class="form-group mb-3">
                        <input type="password"
                               class="form-control" placeholder="Ingrese su contraseña"
                               name="contrasena" th:value="${contrasena}">
                    </div>

                    <div class="row mb-3">
                        <div th:if="${username eq autoridad}" class="form-group mb-3">
                            <input type="password"
                                   class="form-control" placeholder="Ingrese su nueva contraseña"
                                   name="nuevaContrasena" th:value="${nuevaContrasena}">
                        </div>

                        <div th:if="${username eq autoridad}" class="form-group mb-3">
                            <input type="password"
                                   class="form-control" placeholder="Confirme su contraseña"
                                   name="confirmacionContrasena" th:value="${confirmacionContrasena}">
                        </div>
                    </div>


                    <div class="form-group">
                        <select th:field="*{rol}">
                            <option th:value="'ROLE_USER'" th:text="ROLE_USER"></option>
                            <option th:value="'ROLE_ADMIN'" th:text="ROLE_ADMIN"></option>
                        </select>

                    </div>

                </div>
            </form>

        </div>
        <div class="card-footer">
            <input type="submit" value="Guardar" class="btn btn-success" form="formularioRol">
        </div>
    </div>
</div>

<div th:replace="layout/app :: scripts"></div>

</body>

</html>