<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/app :: head"></head>

<body>

<nav th:replace="layout/app :: navbar" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>

<div class="container">

    <div class="row mt-3">
        <div class="col text-center">
            <button class="btn btn-dark" data-toggle="modal" data-target="#crearProyecto">
                <span>&#10010;</span> Crear proyecto
            </button>
            <button class="btn btn-dark ms-3" data-toggle="modal" data-target="#unirseProyecto">
                <span>&#10010;</span> Unirse Proyecto
            </button>
        </div>

    </div>

    <div class="list-group mt-3">
        <div class="list-group-item list-group-item-action">
            <h3 th:if="${proyectos.size() == 0}">No hay proyectos</h3>
            <table th:if="${proyectos.size() != 0}" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Proyecto</th>
                    <th>Descripcion</th>
                    <th>Codigo Proyecto</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="proyecto: ${proyectos}">
                    <td>
                        <a th:text="${proyecto.titulo}" th:href="@{/verProyectoTarea/} + ${proyecto.id}"
                           style="color: #585858; text-decoration: none;"></a>
                    </td>
                    <td th:text="${proyecto.descripcion}"></td>
                    <td th:text="${proyecto.codigoProyecto}"></td>

                    <td>
                        <button
                            class="btn btn-primary btn-sm"
                            th:if="${proyecto.creador == usuario.userName}"
                            th:proyectoId="${proyecto.id}"
                            onclick="editarProyecto(this)"
                        >Editar</button>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm delete-project" th:if="${proyecto.creador == usuario.userName}"
                           th:href="@{/eliminarProyecto/} + ${proyecto.id}">
                            Eliminar
                        </a>
                        <a class="btn btn-danger btn-sm delete-project" th:if="${proyecto.creador != usuario.userName}"
                           th:href="@{/salirProyecto/} + ${proyecto.id}">
                            Salir
                        </a>

                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>


<!-- Modal crear proyecto -->
<div class="modal fade" id="crearProyecto" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Proyecto</h5>
                <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-create-project" th:action="@{/crearProyecto}" th:object="${proyecto}" method="post">
                    <div class="form-group">
                        <fieldset>
                            <label class="form-label" for="name">Nombre</label>
                            <input class="form-control" id="name" type="text" placeholder="Nombre del proyecto"
                                   th:field="*{titulo}">
                        </fieldset>
                    </div>
                    <div class="form-group">
                        <label for="description" class="form-label mt-4">Descripcion</label>
                        <textarea class="form-control" id="description" rows="3"
                                  placeholder="Descripcion del proyecto" th:field="*{Descripcion}"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" form="form-create-project" class="btn btn-dark mx-auto" style="">Crear
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal editar proyecto -->
<div class="modal fade" id="editarProyecto" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="contenidoModalEditarProyecto">
            <!-- -->
        </div>
    </div>
</div>

<!-- Modal unirse a proyecto -->
<div class="modal fade" id="unirseProyecto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Proyecto</h5>
                <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-join-project" th:action="@{/unirseProyecto}" th:object="${proyecto}" method="post">

                    <div class="form-group">
                        <fieldset>

                            <input class="form-control" id="name" type="text" placeholder="Codigo Proyecto"
                                   th:field="*{codigoProyecto}">
                        </fieldset>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" form="form-join-project" class="btn btn-dark mx-auto" style="">Unirse
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--Scrips-->
<div th:replace="layout/app :: scripts"></div>

<script>
    $(".delete-project").on("click", function (event) {
        event.preventDefault();
        let url = $(this).attr('href');
        swal('¿Estas seguro?', {
            dangerMode: true,
            buttons: true,
        }).then(function (response) {
            if (response != null) {
                window.location.href = url;
            }
        });
    });
</script>

<script>
    async function editarProyecto(proyecto) {
        let proyectoId  = proyecto.getAttribute('proyectoid');
        const response = await fetch(window.location.origin + '/api/proyectos/quick-view/' + proyectoId);
        const modalContent = document.querySelector('#contenidoModalEditarProyecto');
        modalContent.innerHTML = await response.text();
        $("#editarProyecto").modal("show");
    }
</script>

</body>
</html>