<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/app :: head"></head>

<body>

<nav th:replace="layout/app :: navbar" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>

<div class="mx-5">

    <div class="row my-3">
        <div class="col text-center">
            <button class="btn btn-dark" data-toggle="modal" data-target="#exampleModalCenter">
                <span>&#10010;</span> Crear proyecto
            </button>
        </div>
    </div>

    <div class="drag-container"></div>

    <div class="board">
        <div class="board-column backlog">
            <div class="board-column-container">
                <div class="board-column-header">backlog</div>
                <div class="board-column-content-wrapper">
                    <div class="board-column-content" id="backlog">
                        <div class="board-item" th:each="tarea: ${proyecto.tarea}">
                            <div class="board-item-content" th:id="${tarea.id}"><span th:text="${tarea.nombre}"></span>

                                <span th:text="${proyecto.descripcion}"></span>
                                <a class="btn btn-danger" th:href="@{/eliminarTarea/} + ${proyec.id}">Eliminar</a>
                            </div>
                        </div>

                        <div class="board-item">
                            <div class="board-item-content" id="1">
                                <a href="#">Arreglar el boton de la vista de productos</a>
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content" id="2"><span>Item #</span>2</div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content" id="3"><span>Item #</span>3</div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content" id="4"><span>Item #</span>4</div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content" id="5"><span>Item #</span>5</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="board-column todo">
            <div class="board-column-container">
                <div class="board-column-header">Todo</div>
                <div class="board-column-content-wrapper">
                    <div class="board-column-content" id="todo">
                        <div class="board-item">
                            <div class="board-item-content"><span>Item #</span>1</div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content"><span>Item #</span>2</div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content"><span>Item #</span>3</div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content"><span>Item #</span>4</div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content"><span>Item #</span>5</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="board-column working">
            <div class="board-column-container">
                <div class="board-column-header">Working</div>
                <div class="board-column-content-wrapper">
                    <div class="board-column-content" id="working">
                        <div class="board-item">
                            <div class="board-item-content"><span>Item #</span>6</div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content"><span>Item #</span>7</div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content"><span>Item #</span>8</div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content"><span>Item #</span>9</div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content"><span>Item #</span>10</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="board-column done">
            <div class="board-column-container">
                <div class="board-column-header">Done</div>
                <div class="board-column-content-wrapper">
                    <div class="board-column-content" id="done">
                        <div class="board-item">
                            <div class="board-item-content"><span>Item #</span>11</div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content"><span>Item #</span>12</div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content"><span>Item #</span>13</div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content"><span>Item #</span>14</div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content"><span>Item #</span>15</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="width: 100%; margin-bottom: 50px;"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Tarea</h5>
                <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-create-project" action="#" method="POST">
                    <div class="form-group">
                        <fieldset>
                            <label class="form-label" for="name">Titulo</label>
                            <input class="form-control" id="name" type="text" placeholder="Nombre del proyecto">
                        </fieldset>
                    </div>
                    <div class="form-group">
                        <label for="description" class="form-label mt-4">Descripcion</label>
                        <textarea class="form-control" id="description" rows="3"
                                  placeholder="Descripcion del proyecto"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="column" class="form-label mt-4">Columna</label>
                        <select class="form-select" id="column">
                            <option>Backlog</option>
                            <option>Todo</option>
                            <option>Working</option>
                            <option>Done</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="form-create-project" class="btn btn-dark mx-auto" style="">Crear</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="layout/app :: scripts"></div>
</body>

<script>

</script>

</html>