<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/app :: head"></head>

<body>

<nav th:replace="layout/app :: navbar" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>

<div class="mx-5">

    <div class="row my-3">
        <div class="col text-center">
            <button class="btn btn-dark" data-toggle="modal" data-target="#modalCreateTask">
                <span>&#10010;</span> Crear Tarea
            </button>
        </div>
    </div>

    <div class="drag-container"></div>

    <div class="board">

        <div class="board-column backlog">
            <div class="board-column-container">
                <div class="board-column-header">backlog</div>
                <div class="board-column-content-wrapper">
                    <div class="board-column-content" id="backlog">

                        <div
                            class="board-item"
                            th:each=" tarea: ${tareas}"
                            th:if="${tarea.status == 'BACKLOG'}"
                            ondblclick="editar(this.children[0].id)"
                        >
                            <div class="board-item-content" th:id="${tarea.id}">
                                <span th:text="${tarea.nombre}"></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="board-column todo">
            <div class="board-column-container">
                <div class="board-column-header">Todo</div>
                <div class="board-column-content-wrapper">
                    <div class="board-column-content" id="todo">

                        <div
                            class="board-item"
                            th:each=" tarea: ${tareas}"
                            th:if="${tarea.status == 'TODO'}"
                            ondblclick="editar(this.children[0].id)"
                        >
                            <div class="board-item-content" th:id="${tarea.id}">
                                <span th:text="${tarea.nombre}"></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="board-column working">
            <div class="board-column-container">
                <div class="board-column-header">Working</div>
                <div class="board-column-content-wrapper">
                    <div class="board-column-content" id="working">

                        <div
                            class="board-item"
                            th:each=" tarea: ${tareas}"
                            th:if="${tarea.status == 'WORKING'}"
                            ondblclick="editar(this.children[0].id)"
                        >
                            <div class="board-item-content" th:id="${tarea.id}">
                                <span th:text="${tarea.nombre}"></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="board-column done">
            <div class="board-column-container">
                <div class="board-column-header">Done</div>
                <div class="board-column-content-wrapper">
                    <div class="board-column-content" id="done">

                        <div
                            class="board-item"
                            th:each=" tarea: ${tareas}"
                            th:if="${tarea.status == 'DONE'}"
                            ondblclick="editar(this.this.children[0].id)"
                        >
                            <div class="board-item-content" th:id="${tarea.id}">
                                <span th:text="${tarea.nombre}"></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div style="width: 100%; margin-bottom: 50px;"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalCreateTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Crear Tarea</h5>
                <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formCreateTask" th:action="@{/crearTarea}"  th:object="${tarea}" method="POST">
                    <input name="pass" type="hidden" th:value="${ide}"/>
                    <div class="form-group">
                        <fieldset>
                            <label class="form-label" for="name">Titulo</label>
                            <input
                                class="form-control"
                                id="name"
                                type="text"
                                placeholder="Nombre del proyecto"
                                th:field="*{nombre}"
                            >
                        </fieldset>
                    </div>
                    <div class="form-group">
                        <label for="description" class="form-label mt-4">Descripcion</label>
                        <textarea
                                class="form-control"
                                id="description"
                                rows="3"
                                placeholder="Descripcion del proyecto"
                                th:field="*{descripcion}"
                        ></textarea>
                    </div>
                    <div class="form-group">
                        <label for="column" class="form-label mt-4">Columna</label>
                        <select class="form-select" id="column" th:field="*{status}">
                            <option th:value="'BACKLOG'">Backlog</option>
                            <option th:value="'TODO'">Todo</option>
                            <option th:value="'WORKING'">Working</option>
                            <option th:value="'DONE'">Done</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="formCreateTask" class="btn btn-dark mx-auto" style="">Crear</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit task -->
<div class="modal fade" id="modalEditTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="modalContentEditTask">
            <!-- -->
        </div>
    </div>
</div>

<div th:replace="layout/app :: scripts"></div>
</body>
<script>
    async function editar(tareaId) {
        const response = await fetch(window.location.origin + '/api/tareas/quick-view/' + tareaId);
        const modalContent = document.querySelector('#modalContentEditTask');
        modalContent.innerHTML = await response.text();
        $("#modalEditTask").modal("show");
    }

    async function eliminarTarea(tareaId) {
        window.location.href = window.location.origin + '/eliminarTarea/' + tareaId;
    }

    async function postData(url = '', data = {}) {
        // Opciones por defecto estan marcadas con un *
        const response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
    }
</script>

</html>