<div class="modal-header">
    <h5 class="modal-title">Proyecto</h5>
    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close" onclick="$('#editarProyecto').modal('toggle');">
        <span aria-hidden="true"></span>
    </button>
</div>
<div class="modal-body">

    <form id="form-create-project" th:action="@{/guardarModificacionProyecto}" th:object="${proyecto}" method="POST">
        <input type="text" name="id" hidden class="form-control" th:value="${id}"/>
        <div class="form-group">
            <fieldset>
                <label class="form-label" for="name">Nombre</label>
                <input
                    class="form-control"
                    id="name"
                    type="text"
                    placeholder="Nombre del proyecto"
                    th:field="*{titulo}"
                >
            </fieldset>
        </div>
        <div class="form-group">
            <label for="description" class="form-label mt-4">Descripción</label>
            <textarea
                class="form-control"
                id="description"
                rows="3"
                placeholder="Descripcion del proyecto"
                th:field="*{Descripcion}"
            ></textarea>
        </div>

        <div class="form-group" th:if="${proyecto.usuario.size() > 1}">
            <label class="form-label mt-4">Participantes</label>
            <ul class="list-group">
                <li class="list-group-item" th:each="usu : ${proyecto.usuario}" th:if="${usuario.userName != usu.userName}">
                    <span th:text="${usu.userName}"></span>
                    <button class="btn btn-danger btn-sm float-end">Quitar</button>
                </li>
            </ul>
        </div>

        <div class="modal-footer">
            <button type="submit" form="form-create-project" class="btn btn-dark mx-auto">Guardar</button>
        </div>
    </form>
</div>