<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/app :: head"></head>

<body>

<nav th:replace="layout/app :: navbar" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>

<div class="container my-3">
    <div class="card mb-3">
        <div class="card-header">
            td is a long established fact that a reader will be distracted by the readable content of
        </div>
        <div class="card-body">
            <div>
                <label class="rad-label">
                    <input type="radio" class="rad-input" name="rad">
                    <div class="rad-design"></div>
                    <div class="rad-text">
                        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an
                    </div>
                </label>

                <label class="rad-label">
                    <input type="radio" class="rad-input" name="rad">
                    <div class="rad-design"></div>
                    <div class="rad-text">
                        page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
                    </div>
                </label>

                <label class="rad-label">
                    <input type="radio" class="rad-input" name="rad">
                    <div class="rad-design"></div>
                    <div class="rad-text">
                        There are many variations of passages of Lorem Ipsum
                    </div>
                </label>

                <label class="rad-label">
                    <input type="radio" class="rad-input" name="rad">
                    <div class="rad-design"></div>
                    <div class="rad-text">
                        Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making
                        this the first true generator on the Internet. It uses a dictionary of over 200 Latin
                        words, combined with a handful
                    </div>
                </label>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            td is a long established fact that a reader will be distracted by the readable content of
        </div>
        <div class="card-body">
            <div>
                <label class="rad-label">
                    <input type="radio" class="rad-input" name="rad1">
                    <div class="rad-design"></div>
                    <div class="rad-text">
                        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an
                    </div>
                </label>

                <label class="rad-label">
                    <input type="radio" class="rad-input" name="rad1">
                    <div class="rad-design"></div>
                    <div class="rad-text">
                        page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
                    </div>
                </label>

                <label class="rad-label">
                    <input type="radio" class="rad-input" name="rad1">
                    <div class="rad-design"></div>
                    <div class="rad-text">
                        There are many variations of passages of Lorem Ipsum
                    </div>
                </label>

                <label class="rad-label">
                    <input type="radio" class="rad-input" name="rad1">
                    <div class="rad-design"></div>
                    <div class="rad-text">
                        Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making
                        this the first true generator on the Internet. It uses a dictionary of over 200 Latin
                        words, combined with a handful
                    </div>
                </label>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            td is a long established fact that a reader will be distracted by the readable content of
        </div>
        <div class="card-body">
            <div>
                <label class="rad-label">
                    <input type="radio" class="rad-input" name="rad2">
                    <div class="rad-design"></div>
                    <div class="rad-text">
                        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an
                    </div>
                </label>

                <label class="rad-label">
                    <input type="radio" class="rad-input" name="rad2">
                    <div class="rad-design"></div>
                    <div class="rad-text">
                        page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
                    </div>
                </label>

                <label class="rad-label">
                    <input type="radio" class="rad-input" name="rad2">
                    <div class="rad-design"></div>
                    <div class="rad-text">
                        There are many variations of passages of Lorem Ipsum
                    </div>
                </label>

                <label class="rad-label">
                    <input type="radio" class="rad-input" name="rad2">
                    <div class="rad-design"></div>
                    <div class="rad-text">
                        Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making
                        this the first true generator on the Internet. It uses a dictionary of over 200 Latin
                        words, combined with a handful
                    </div>
                </label>
            </div>
        </div>
    </div>

    <div class="text-center">
        <button class="btn btn-dark my-2">Comprobar</button>
    </div>

</div>

<footer th:replace="layout/app :: footer"></footer>

<!--Scrips-->
<div th:replace="layout/app :: scripts"></div>
</body>
</html>