<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PES</title>
    <link rel="icon" href="img/Logo_PES.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-zephyr.min.css}" rel="stylesheet">
    <link th:href="@{/css/columns.css}" rel="stylesheet">
    <link th:href="@{/css/general.css}" rel="stylesheet">
    <link th:href="@{/css/cuestionario.css}" rel="stylesheet">

    <style>

        .carousel-indicators > li {
            background-color: rgb(173, 173, 173);
        }

        .carousel-indicators > li.active {
            background-color: #616161;
        }

        .container {
            min-height: calc(100vh - 10.5rem) !important;
        }

        .page-item.active .page-link {
            background-color: #212529;
            border-color: #212529;
        }
    </style>
</head>
<body>

<!-- nav -->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <img width="70" src="../img/Logo_PES.png">
    <button class="navbar-toggler me-4" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container-fluid">
        <div class="collapse navbar-collapse px-lg-5" id="navbar">
            <ul class="navbar-nav me-auto" style="display: contents;">
                <li class="nav-item m-0 me-3">
                    <a class="nav-link " th:href="@{/menu}">Home</a>
                </li>
                <li class="nav-item m-0 me-3">
                    <a class="nav-link" th:href="@{/verCurso}">Scrum</a>
                </li>
                <li class="nav-item m-0 me-3">
                    <a class="nav-link" href="/vistaProyecto">Proyectos</a> <!-- active -->
                </li>
                <li class="nav-item dropdown d-block ms-auto me-4">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">[[${#httpServletRequest.remoteUser}]]</a>
                    <div class="dropdown-menu">
                        <a th:if="${autoridad=='[ROLE_USER]'}" class="dropdown-item"
                           th:href="@{/verDatosPersonales/} + ${usuario.id}">Datos personales</a>
                        <a th:if="${autoridad=='[ROLE_ADMIN]'}" class="dropdown-item"
                           th:href="@{/verDatosPersonalesAdministrador}">Datos personales</a>
                        <!--   						<a  class="dropdown-item"  -->
                        <!--                            th:href="@{/verDatosPersonales/} + ${usuario.id}">Datos Personales</a>  -->
                        <a th:if="${autoridad=='[ROLE_ADMIN]'}" class="dropdown-item" th:href="@{/listadoUsuarios}">
                            Listado de usuarios
                        </a>
                        <a th:if="${autoridad=='[ROLE_ADMIN]'}" class="dropdown-item" th:href="@{/proyectos}">
                            Listado de proyectos
                        </a>
                        <a th:if="${autoridad=='[ROLE_ADMIN]'}" class="dropdown-item" th:href="@{/vistaCodigoRegistro}">
                            Generar código registro
                        </a>
                        <div class="dropdown-divider"></div>
                        <form th:action="@{/}" method="post" id="form-logout" class="d-none"></form>
                        <a href="#" class="dropdown-item" onclick="document.getElementById('form-logout').submit()">
                            Cerrar Sesión
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<footer class="page-footer font-small teal py-3 bg-dark" th:fragment="footer">
    <div class="footer-copyright text-center" style="color: white;">© 2021 Copyright: PES - UDE</div>
</footer>

<!-- script -->
<div th:fragment="scripts">

    <!-- messages -->
    <p class="d-none" id="success-alert" th:if="${success != null}" th:text="${success}"></p>
    <p class="d-none" id="warning-alert" th:if="${warning != null}" th:text="${warning}"></p>
    <p class="d-none" id="danger-alert" th:if="${danger != null}" th:text="${danger}"></p>

    <script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <script th:src="@{/js/sweetalert.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/js/notify.js}"></script>
    <script th:src="@{/js/mensajes.js}"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>

    <script>


        $('.carousel').carousel({
            interval: false
        })

        var $carousel = $('#carouselExampleIndicators');
        $carousel.carousel();
        var handled = false;
        var itemclicked = "";
        $carousel.bind('slide.bs.carousel', function (e) {
            var current = $(e.target).find('.item.active');
            var indx = $(current).index();
            if ((indx + 2) > $('.carousel-indicators li').length)
                indx = -1

            if (!handled) {
                $('.carousel-indicators li').removeClass('active')
                $('.carousel-indicators li:nth-child(' + (indx + 2) + ')').addClass('active');

            } else {
                handled = !handled;
            }

        });

        $(".carousel-indicators li").on('click', function () {
            $(this).addClass('active').siblings().removeClass('active');
            handled = true;
        });
    </script>


</div>


</body>
</html>