<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-zephyr.min.css}" rel="stylesheet">
    <link th:href="@{/css/columns.css}" rel="stylesheet">
    <link th:href="@{/css/general.css}" rel="stylesheet">
</head>
<body>

<!-- nav -->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler me-4" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container-fluid">
        <div class="collapse navbar-collapse px-lg-5" id="navbar">
            <ul class="navbar-nav me-auto" style="display: contents;">
                <li class="nav-item m-0 me-3">
                    <a class="nav-link " th:href="@{/menu}">Home</a>
                </li>
                <li class="nav-item m-0 me-3">
                    <a class="nav-link" th:href="@{/verCurso}">Scrum</a>
                </li>
                <li class="nav-item m-0 me-3">
                    <a class="nav-link" href="/vistaProyecto">Proyectos</a> <!-- active -->
                </li>
                <li class="nav-item dropdown d-block ms-auto me-4">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">[[${#httpServletRequest.remoteUser}]]</a>
                    <div class="dropdown-menu">
                        <a th:if="${autoridad=='[ROLE_USER]'}" class="dropdown-item"
                           th:href="@{/verDatosPersonales/} + ${usuario.id}">Datos Personales</a>
<!--   						<a  class="dropdown-item"  -->
<!--                            th:href="@{/verDatosPersonales/} + ${usuario.id}">Datos Personales</a>  -->
                        <a th:if="${autoridad=='[ROLE_ADMIN]'}" class="dropdown-item" th:href="@{/listadoUsuarios}">
                            Listado Usuarios
                        </a>
                        <a th:if="${autoridad=='[ROLE_ADMIN]'}" class="dropdown-item" href="/vistaCodigoRegistro">
                            Generar Código Curso
                        </a>
                        <div class="dropdown-divider"></div>
                        <form th:action="@{/}" method="post" id="form-logout" class="d-none"></form>
                        <a href="#" class="dropdown-item" onclick="document.getElementById('form-logout').submit()">
                            Cerrar Sesión
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>



<!-- script -->
<div th:fragment="scripts">

    <!-- messages -->
    <p class="d-none" id="success-alert" th:if="${success != null}" th:text="${success}"></p>

    <script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <script th:src="@{/js/sweetalert.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/js/notify.js}"></script>
    <script th:src="@{/js/mensajes.js}"></script>
</div>


</body>
</html>