<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">


    </head>
    <header>
        <br>
        <legend align="center">
            <h3>CUESTIONARIO</h3>
        </legend>
    </header>
    <br>
    <div class="container-fluid">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <form>

                        <h4>¿Cuál de los integrantes del equipo es el encargado de mantener el Product Backlog bien
                            estructurado?</h4>
                </div>
                <div class="modal-body">
                    <div class="col-xs-3 5"> </div>
                    <div class="quiz" id="quiz" data-toggle="buttons">
                        <label class="element-animation1 btn btn-lg btn-danger btn-block">
                            <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
                            <input type="radio" name="q_answer" value="1"> El Scrum Master</label>
                        <label class="element-animation2 btn btn-lg btn-danger btn-block"><span class="btn-label">
                                <i class="glyphicon glyphicon-chevron-right"></i>

                            </span><input type="radio" name="q_answer" value="2"> El Product Owner</label>
                        <label class="element-animation3 btn btn-lg btn-danger btn-block"><span class="btn-label">
                                <i class="glyphicon glyphicon-chevron-right"></i></span>
                            <input type="radio" name="q_answer" value="3"> El Scrum Master junto al equipo de
                            desarrollo</label>

                        <label class="element-animation4 btn btn-lg btn-danger btn-block"><span class="btn-label">
                                <i class="glyphicon glyphicon-chevron-right"></i></span>
                            <input type="radio" name="q_answer" value="4"> Todas las anteriores</label>

                        <br>
                        <a  class="btn btn-primary" th:href="@{/cuestionario1}"> Siguiente Pregunta</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </body>