<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head th:replace="layout/layout :: head"></head>


<body>
<div>
<header th:replace="layout/layout :: header">
</header>
</div>


		
				<div th:if="${inscripto == null}" class="card" style="width: 18rem;">
  <img class="card-img-top" src="/img/valoresScrum.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Scrum</h5>
    <p class="card-text">Este curso le va a brindar una herramiento para su futuro.</p>
     <div class="board-item-content">
                            	 <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false">
   								 Iniciar Curso
  							</button>
								<div class="collapse" id="collapseExample">
  								<div class="card card-body">
  								<form class="col-12" th:action="@{/validarCurso}"
						method="post">
						<label>Codigo</label>
                   <div class="form-group" id="user-group">
                   
                        <input type="text" name="codigo" placeholder="codigoCurso" class="form-control" th:value="${codigoCurso}"  />
                    </div>
                   
                    <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Iniciar </button>
                    
                </form>	
						</div>
                     </div>
                       </div>
  </div>
</div>

<div th:if="${inscripto != null}" class="card" style="width: 18rem;">
  <img class="card-img-top" src="/img/valoresScrum.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Scrum</h5>
    <p class="card-text">Este curso le va a brindar una herramiento para su futuro.</p>
     <div class="board-item-content">
                            	 <a th:href="@{/continuacionCurso}" class="btn btn-danger" >
   								 Continuar Curso
  							</a>
						
                       </div>
  </div>
</div>
		
		
	
 
</body>
</html>