<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/app :: head"></head>

<body>

<nav th:replace="layout/app :: navbar" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>

<div class="container">
    <div class="card m-5">
        <div class="card-header" th:text="${pagina.titulo}"></div>

        <div class="card-body">
            <p th:utext="${pagina.contenido}"></p>
        </div>

    </div>
</div>


<!--Scrips-->
<div th:replace="layout/app :: scripts"></div>

</body>

</html>