<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/app :: head"></head>

<body>

<nav th:replace="layout/app :: navbar" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>

<div class="container">
    <div class="card mt-5 w-75 mx-auto">
        <h5 th:text="${pagina.titulo}" class="card-header text-center">Scrum</h5>
        <div class="card-body">
            <ul class="list-group">
                <a class="list-group-item list-group-item-action"
                   th:each="paginas: ${pagina.pagina}" th:href="@{/verPag/} + ${paginas.id}"
                   th:text="${paginas.titulo}">
                </a>
            </ul>
        </div>
    </div>
</div>


<!--Scrips-->
<div th:replace="layout/app :: scripts"></div>

</body>

</html>