<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/app :: head"></head>

<body>

<nav th:replace="layout/app :: navbar" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>

<div class="container">
    <div class="card m-5">
<!--      <h1 th:text="${pagina.titulo}"></h1> -->
         <table class="table table-striped">
<!-- 					<thead> -->
<!-- 						<tr> -->
						     
<!-- 							<th>Proyecto</th> -->
<!-- 							<th>Descripcion</th> -->
<!-- 							<th>Codigo Proyecto</th> -->
<!-- 							<th>VER</th> -->
<!-- 							<th>Creador</th> -->
<!-- 							<th>eliminar</th> -->
<!-- 							 <h1 th:text="${success}"></h1> -->
<!-- 						</tr> -->
<!-- 					</thead> -->
					<tbody>
<!--  						<tr th:each="paginas: ${pagina.pagina}">  -->
  						<tr th:each="paginas: ${pagina}">  
 							<td th:text="${paginas.titulo}" ></td> 
							<td><a class="btn btn-primary btn-sm"  th:href="@{/verPag/} + ${paginas.id}"  
								th:text="'Iniciar'"></a>
								</td>
							</tr>
 					</tbody> 
				</table> 
   
   
   
    </div>
</div>


<!--Scrips-->
<div th:replace="layout/app :: scripts"></div>

</body>

</html>