<!DOCTYPE html>
<html lang="en">

<form name="form" method="post" action="Cuestionario2.html">



    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PES</title>
        <link rel="icon" href="../img/Logo_PES.png">


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">


    </head>
    <header>
        <br>
        <legend align="center">
            <h3>CUESTIONARIO</h3>
        </legend>
    </header>
    <br>
    <div class="container-fluid">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <form>

                        <h4>¿Qué tipo de metodología es Scrum?</h4>
                </div>
                <div class="modal-body">
                    <div class="col-xs-3 1"> </div>
                    <div class="cuestionario" id="cuestionario" data-toggle="buttons">
                        <label class="element-animation1 btn btn-lg btn-danger btn-block"><span>
                                <input type="radio" name="pregunta" value="1"> Tradicional</span>
                        </label>
                        <label class="element-animation1 btn btn-lg btn-danger btn-block"><span>
                                <input type="radio" name="pregunta" value="2"> Agil</span>
                        </label>
                        <label class="element-animation1 btn btn-lg btn-danger btn-block"><span>
                                <input type="radio" name="pregunta" value="3"> Ninguna es correcta</span>
                        </label>
                        <label class="element-animation1 btn btn-lg btn-danger btn-block"><span>
                                <input type="radio" name="pregunta" value="4"> Ambas son correctas</span>
                        </label>
                        <br>
                        <input type="submit" value="SIGUIENTE" />
                    </div>
                </div>
            </div>
        </div>
    </div>


    </body>