<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/app :: head"></head>

<body>

<nav th:replace="layout/app :: navbar" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>

<div class="container">
    <div class="card m-5">
     <form class="col-12" th:action="@{/generarCodigoRegistro}" 
						method="post">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  GenerarCodigo </button>
                    
                </form>
                
                <h1  th:text="${codigo}">></h1>
    </div>
</div>


<!--Scrips-->
<div th:replace="layout/app :: scripts"></div>

</body>

</html>