<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Error Page</title>
<link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<div class="jumbotron alert-danger">

    <div th:if="${status != 405}">
        <h1>Oops... RECURSO NO EXISTE.</h1>
        <h2 th:text="${status + ' ' + error}"></h2>
    </div>
    <script th:inline="javascript">
        var code = /*[[${status}]]*/;
        console.log(code);
        if (code == 404) {
            window.location.href = window.location.origin + '/menu';
        }

        if (window.location.pathname == '/') {
            window.location.href = window.location.origin + '/menu';
        }
    </script>
</div>
</div>
</body>
</html>